# ARITHEMATIC OPERATORS

In [2]:
x=6
y=5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

11
1
30
1.2
1
1
7776

# LOGICAL OPERATORS

In [3]:
a=20
b=30
print(a>=10 and a<=15)
print(b>=10 and b<=40)
print(a>=10 and b<=15)

False
True
False

In [4]:
i=100
print(type(i))
j=str(i)
print(type(j))
k=float(i)
print(type(k))

<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
a="100"
print(type(a))
b=float(a)
print(type(b))
b

<class 'str'>
<class 'float'>

100.0

In [6]:
x=10
y=13.5
z=3+6j
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>

# relational operators

In [7]:
a=19
b=23
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
a!=b

False
False
True
True
False

True

#membership operator

In [8]:
strl="abc"
print('c'in strl)

True

In [9]:
strl="abc"
print('c'not in strl)
print('c'in strl)

False
True

# conditional statement

In [ ]:
n=int(input("enter a number"))
if n%2!=0:
 print("odd")

In [1]:
n=int(input("enter a number"))
if n%2!=0:
    print("odd")
else:
    print("even")

enter a number3
odd

In [5]:
n=int(input("enter a number "))
if n%3==0 and n%5==0:
    print("divisible")
else:
    print("not divisible")

enter a number 25
not divisible

In [10]:
n=int(input("enter a number"))
if n>0:
    print("positive")
elif  n<0:
    print("negative")
elif n==0:
    print("zero")

enter a number3
positive

In [2]:
year=int(input("enter year"))
if year%400==0 or (year % 100!=0 and year %4==0):
    print("leap year")

enter year2016
leap year

# python
 -topics covered
   -datatypes
   -operators
   -conditional statements

# python
 -topics covered
  1.operators
  2.datatypes
  3.conditional statements

#